nodered.txt
[{"id":"5bb21228.6eaf0c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"46f52d93.d9fd84","type":"inject","z":"5bb21228.6eaf0c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["85c9e3f6.72ce9"]]},{"id":"85c9e3f6.72ce9","type":"debug","z":"5bb21228.6eaf0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":60,"wires":[]},{"id":"b0ed073d.26c108","type":"ibmiot in","z":"5bb21228.6eaf0c","authentication":"apiKey","apiKey":"87f71b2b.1d64a8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234567","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":180,"wires":[["44fafee2.82e1a","334dc67a.12ecea"]]},{"id":"44fafee2.82e1a","type":"function","z":"5bb21228.6eaf0c","name":"Noise","func":"global.set('Noise',msg.payload.Noise)\nmsg.payload=msg.payload.Noise\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["85c9e3f6.72ce9","3fc1d6b.c2c982a"]]},{"id":"334dc67a.12ecea","type":"function","z":"5bb21228.6eaf0c","name":"Pollution","func":"global.set('Pollution',msg.payload.Pollution)\nmsg.payload=msg.payload.Pollution\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":280,"wires":[["85c9e3f6.72ce9","d678cd69.7a8bc"]]},{"id":"3fc1d6b.c2c982a","type":"ui_gauge","z":"5bb21228.6eaf0c","name":"","group":"ea619e6f.b61bb","order":1,"width":0,"height":0,"gtype":"gage","title":"noise","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":160,"wires":[]},{"id":"d678cd69.7a8bc","type":"ui_gauge","z":"5bb21228.6eaf0c","name":"","group":"ea619e6f.b61bb","order":2,"width":0,"height":0,"gtype":"gage","title":"pollution","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":280,"wires":[]},{"id":"3b521921.f40186","type":"ui_button","z":"5bb21228.6eaf0c","name":"","group":"ea619e6f.b61bb","order":3,"width":0,"height":0,"passthru":false,"label":"REDLIGHTON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"REDLIGHTON\"}","payloadType":"json","topic":"","x":320,"y":540,"wires":[["4b6b6aba.47f044","f96339ab.d8ca08"]]},{"id":"8d7b1d38.5003f","type":"ui_button","z":"5bb21228.6eaf0c","name":"","group":"ea619e6f.b61bb","order":4,"width":0,"height":0,"passthru":false,"label":"REDLIGHTOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"REDLIGHTOFF\"}","payloadType":"json","topic":"","x":320,"y":580,"wires":[["4b6b6aba.47f044","f96339ab.d8ca08"]]},{"id":"4b6b6aba.47f044","type":"ibmiot out","z":"5bb21228.6eaf0c","authentication":"apiKey","apiKey":"87f71b2b.1d64a8","outputType":"cmd","deviceId":"1234567","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":480,"wires":[]},{"id":"f72261d1.3151e","type":"ui_button","z":"5bb21228.6eaf0c","name":"","group":"ea619e6f.b61bb","order":7,"width":0,"height":0,"passthru":false,"label":"GREENLIGHTON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"GREENLIGHTON\"}","payloadType":"json","topic":"","x":330,"y":700,"wires":[["4b6b6aba.47f044","f96339ab.d8ca08"]]},{"id":"90bfb9a9.d2f358","type":"ui_button","z":"5bb21228.6eaf0c","name":"","group":"ea619e6f.b61bb","order":8,"width":0,"height":0,"passthru":false,"label":"GREENLIGHTOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"GREENLIGHTOFF\"}","payloadType":"json","topic":"","x":330,"y":740,"wires":[["4b6b6aba.47f044","f96339ab.d8ca08"]]},{"id":"dd3b7483.5dde38","type":"ui_button","z":"5bb21228.6eaf0c","name":"","group":"ea619e6f.b61bb","order":5,"width":0,"height":0,"passthru":false,"label":"ORANGELIGHTON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"ORANGELIGHTON\"}","payloadType":"json","topic":"","x":330,"y":620,"wires":[["4b6b6aba.47f044","f96339ab.d8ca08"]]},{"id":"af1967c5.8bfec8","type":"ui_button","z":"5bb21228.6eaf0c","name":"","group":"ea619e6f.b61bb","order":6,"width":0,"height":0,"passthru":false,"label":"ORANGELIGHTOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"ORANGELIGHTOFF\"}","payloadType":"json","topic":"","x":340,"y":660,"wires":[["4b6b6aba.47f044","f96339ab.d8ca08"]]},{"id":"f9eff770.b40f18","type":"http in","z":"5bb21228.6eaf0c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":420,"wires":[["88e21703.c30508"]]},{"id":"6cd3ce8e.08d0d","type":"http response","z":"5bb21228.6eaf0c","name":"","statusCode":"","headers":{},"x":570,"y":420,"wires":[]},{"id":"88e21703.c30508","type":"function","z":"5bb21228.6eaf0c","name":"data","func":"msg.payload={'Noise':global.get(\"Noise\"),'Pollution':global.get(\"Pollution\")}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":420,"wires":[["6cd3ce8e.08d0d"]]},{"id":"169d8fe.12bd77","type":"http in","z":"5bb21228.6eaf0c","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":180,"y":880,"wires":[["4a239165.bf558"]]},{"id":"e6df195b.9e5ca8","type":"http response","z":"5bb21228.6eaf0c","name":"","statusCode":"","headers":{},"x":680,"y":880,"wires":[]},{"id":"4a239165.bf558","type":"function","z":"5bb21228.6eaf0c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":900,"wires":[["e6df195b.9e5ca8","6a2e1737.ac1dc8"]]},{"id":"6a2e1737.ac1dc8","type":"debug","z":"5bb21228.6eaf0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":820,"wires":[]},{"id":"f96339ab.d8ca08","type":"debug","z":"5bb21228.6eaf0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":540,"wires":[]},{"id":"87f71b2b.1d64a8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ea619e6f.b61bb","type":"ui_group","z":"","name":"Default","tab":"f4e63722.24bc48","order":1,"disp":true,"width":"6","collapse":false},{"id":"f4e63722.24bc48","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]